* {
  font-family: Avenir, sans-serif;
  color: white;
}

html {
  background-color: black;
}

.App {
  text-align: center;
  padding: 2vh;
  background-color: black;
}

.container {
  margin: 8vh;
  background-color: black;
}

/* Bike Table */
th,
td {
  padding: 1vh;
}

.tables {
  margin: auto;
}

/* Maps */
.leaflet-container {
  height: 80vh;
}

.map-container h3, p {
  color: black;
  text-align: center;
}

.leaflet-top .leaflet-control {
  margin: 2vh;
}